<section class="container">
  <form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employee)">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Create Employee</h4>
      </div>
      <div class="panel-body">

          <div class="form-group" [class.has-error]="name.invalid && name.touched">
              <label for="name" class="control-label">Name</label>
              <input id="name" required type="text" class="form-control" name="name"
                     [(ngModel)]="employee.name" #name="ngModel">
              <span class="help-block" *ngIf="name.invalid && name.touched">
                Name is required
              </span>
            </div>
        
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" type="email" [(ngModel)]="employee.email" name="email" class="form-control">
        </div>

        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input id="phoneNumber" maxlength="10" type="text" [(ngModel)]="phoneNumber" name="phoneNumber" class="form-control">
          </div>

          <div class="form-group">
              <label>Contact Preference</label>
              <div class="form-control">
    
                <label for="phonePref" class="radio-inline">
                  <input id="phonePref" type="radio" name="contactPreference" value="phone" [(ngModel)]="contactPreference"> Phone
                </label>
                <label for="emailPref" class="radio-inline">
                  <input id="emailPref" type="radio" name="contactPreference" value="email" [(ngModel)]="contactPreference"> Email
                </label>
    
              </div>
            </div>

        <div class="form-group">
          <label>Gender</label>
          <div class="form-control">

            <label for="male" class="radio-inline">
              <input id="male" type="radio" name="gender" value="male" [(ngModel)]="gender"> Male
            </label>
            <label for="female" class="radio-inline">
              <input id="female" type="radio" name="gender" value="female" [(ngModel)]="gender"> Female
            </label>

          </div>
        </div>
        <div class="form-group">
          <label>Status</label>
          <div class="form-control">
            <label for="isActive" class="checkbox-inline">
              <input id="isActive" type="checkbox" name="isActive" [(ngModel)]="isActive"> Is Active
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="department">Department</label>
            <select class="form-control" id="department" name="department" [(ngModel)]="department">
              <option *ngFor="let dept of departments" [value]="dept.id">{{dept.name}}</option>
          </select>
        </div>

        <!-- <div class="form-group">
          <label for="dateOfBirth">Date Of Birth</label>
          <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="dateOfBirth"/>
        </div> -->
        <div class="form-group">
          <label for="photoPath"> Photo Path</label>
          <input class="form-control" type="text" if="photoPath" name="photoPath" [(ngModel)]="photoPath"/>
        </div>

        <div class="form-group">
            <button type="button" (click)="togglePhotoPreview()" class="btn btn-primary">
              {{previewPhoto ? "Hide " : "Show " }} Preview
            </button>
          </div>

        <div class="form-group">
          <img [src]="photoPath" height="200px" width="200px" *ngIf="previewPhoto"/>
        </div>
      </div>
      <div class="panel-footer text-right">
        <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">Save</button>
      </div>
    </div>
  </form>
  {{employeeForm.value | json}}
</section>